_**DELETE BEFORE PUBLISHING**_

_This is a template also containing the style guide for use cases. The styling uses the use-case css when uploaded to the website, which will not be visible on your local machine._

_Change any text marked with {} and delete any cells marked DELETE_

***

In [5]:
# DELETE BEFORE PUBLISHING
# This is just here so you can preview the styling on your local machine

from IPython.core.display import HTML
HTML("""
<style>
.usecase-title, .usecase-duration, .usecase-section-header {
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 15px;
    background-color: #0f9295;
    color: #fff;
}

.usecase-title {
    font-size: 1.7em;
    font-weight: bold;
}

.usecase-authors, .usecase-level, .usecase-skill {
    padding-left: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    background-color: #baeaeb;
    font-size: 1.4em;
    color: #121212;
}

.usecase-level-skill  {
    display: flex;
}

.usecase-level, .usecase-skill {
    width: 50%;
}

.usecase-duration, .usecase-skill {
    text-align: right;
    padding-right: 15px;
    padding-bottom: 8px;
    font-size: 1.4em;
}

.usecase-section-header {
    font-weight: bold;
    font-size: 1.5em;
}

.usecase-subsection-header, .usecase-subsection-blurb {
    font-weight: bold;
    font-size: 1.2em;
    color: #121212;
}

.usecase-subsection-blurb {
    font-size: 1em;
    font-style: italic;
}
</style>
""")

<div class="usecase-title">{Use Case Name}</div>

<div class="usecase-authors"><b>Authored by: </b> {Author/s}</div>

<div class="usecase-duration"><b>Duration:</b> {90} mins</div>

<div class="usecase-level-skill">
    <div class="usecase-level"><b>Level: </b>{Intermediate}</div>
    <div class="usecase-skill"><b>Pre-requisite Skills: </b>{Python, and add any more skills needed}</div>
</div>

<div class="usecase-section-header">Scenario</div>

{Using User Story format, write a description of the problem you are trying to solve for this use case.}

<div class="usecase-section-header">What this use case will teach you</div>

At the end of this use case you will:
- {list the skills demonstrated in your use case}

<div class="usecase-section-header">{Heading for introduction or background relating to problem}</div>

{Write your introduction here. Keep it concise. We're not after "War and Peace" but enough background information to inform the reader on the rationale for solving this problem or background non-technical information that helps explain the approach. You may also wish to give information on the datasets, particularly how to source those not being imported from the client's open data portal.}

***

_**DELETE BEFORE PUBLISHING**_

## Style guide for use cases

### Headers

For styling within your markdown cells, there are two choices you can use for headers.

1) You can use HTML classes specific to the use case styling:

```<p class="usecase-subsection-header">This is a subsection header.</p>```

<p style="font-weight: bold; font-size: 1.2em;">This is a subsection header.</p>

```<p class="usecase-subsection-blurb">This is a blurb header.</p>```

<p style="font-weight: bold; font-size: 1em; font-style:italic;">This is a blurb header.</p>


2) Or if you like you can use the markdown header styles:

```# for h1```

```## for h2```

```### for h3```

```#### for h4```

```##### for h5```

## Plot colour schemes

General advice:
1. Use the same colour or colour palette throughout your notebook, unless variety is necessary
2. Select a palette based on the type of data being represented
3. Consider accessibility (colourblindness, low vision)

#### 1) If all of your plots only use 1-2 colors use one of the company style colors:

| Light theme | Dark Theme |
|-----|-----|
|<p style="color:#2af598;">#2af598</p>|<p style="color:#08af64;">#08af64</p>|
|<p style="color:#22e4ac;">#22e4ac</p>|<p style="color:#14a38e;">#14a38e</p>|
|<p style="color:#1bd7bb;">#1bd7bb</p>|<p style="color:#0f9295;">#0f9295</p>|
|<p style="color:#14c9cb;">#14c9cb</p>|<p style="color:#056b8a;">#056b8a</p>|
|<p style="color:#0fbed8;">#0fbed8</p>|<p style="color:#121212;">#121212</p>|
|<p style="color:#08b3e5;">#08b3e5</p>||


#### 2) If your plot needs multiple colors, choose an appropriate palette using either of the following tutorials:
- https://seaborn.pydata.org/tutorial/color_palettes.html
- https://matplotlib.org/stable/tutorials/colors/colormaps.html

#### 3) Consider accessibility as well.

For qualitative plotting Seaborn's 'colorblind' palette is recommended. For maps with sequential or diverging it is recommended to use one of the Color Brewer schemes which can be previewed at https://colorbrewer2.org/.

If you want to design your own colour scheme, it should use the same principles as Cynthia Brewer's research (with variation not only in hue but also, saturation or luminance).

### References

Be sure to acknowledge your sources and any attributions using links or a reference list.

If you have quite a few references, you might wish to have a dedicated section for references at the end of your document, linked using footnote style numbers.

You can connect your in-text reference by adding the number with a HTML link: ```<a href="#fn-1">[1]</a>```

and add a matching ID in the reference list using the ```<fn>``` tag: ```<fn id="fn-1">[1] Author (Year) _Title_, Publisher, Publication location.</fn>```

In [5]:
import warnings
warnings.filterwarnings("ignore")

from io import StringIO
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# House Prices by Small Area - Sale Year

base_url='https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/'
dataset_id='house-prices-by-small-area-sale-year'


url=f'{base_url}{dataset_id}/exports/csv'
params={'select':'*','limit':-1,'lang':'en','timezone':'UTC' }

response=requests.get(url,params=params)

if response.status_code==200:
    url_content=response.content.decode('utf-8')
    # Renaming the dataset as smallhouse_sale_price_year
    smallhouse_sale_price_year=pd.read_csv(StringIO(url_content),delimiter=';')
    print(smallhouse_sale_price_year.head(10))
else:
    print(f'Request failed with status code {response.status_code}')

   sale_year                    small_area                   type  \
0       2000                     Docklands  Residential Apartment
1       2000                     Parkville        House/Townhouse
2       2000                     Southbank  Residential Apartment
3       2001                       Carlton        House/Townhouse
4       2001               Melbourne (CBD)        House/Townhouse
5       2001               North Melbourne        House/Townhouse
6       2001               North Melbourne  Residential Apartment
7       2001                     Parkville        House/Townhouse
8       2001                   South Yarra        House/Townhouse
9       2001  West Melbourne (Residential)        House/Townhouse

   median_price  transaction_count
0      487300.0                556
1      516000.0                 42
2      370500.0                901
3      381000.0                113
4           NaN                  4
5      325500.0                169
6      270000.0                271
7      354000.0                 36
8      800000.0                 46
9      323000.0                 50

In [ ]:
# Median House Prices - By Type and Sale Year

base_url='https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/'
dataset_id='median-house-prices-by-type-and-sale-year'


url=f'{base_url}{dataset_id}/exports/csv'
params={'select':'*','limit':-1,'lang':'en','timezone':'UTC' }

response=requests.get(url,params=params)

if response.status_code==200:
    url_content=response.content.decode('utf-8')
    # Renaming the dataset as housetype_medianprice_sale_year
    housetype_medianprice_sale_year=pd.read_csv(StringIO(url_content),delimiter=';')
    print(housetype_medianprice_sale_year.head(10))
else:
    print(f'Request failed with status code {response.status_code}')

   sale_year                   type  median_price  transaction_count
0       2000  Residential Apartment      302500.0               3660
1       2002        House/Townhouse      381500.0                650
2       2002  Residential Apartment      369500.0               4888
3       2007        House/Townhouse      615000.0                778
4       2008  Residential Apartment      422000.0               4860
5       2009        House/Townhouse      585796.5                661
6       2010        House/Townhouse      740000.0                670
7       2010  Residential Apartment      508000.0               8186
8       2011        House/Townhouse      710000.0                531
9       2013        House/Townhouse      737750.0                592

In [8]:
#Median House Prices by Transfer Year from 2000 - 2016

base_url='https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/'
dataset_id='median-house-prices-by-type-and-sale-year'


url=f'{base_url}{dataset_id}/exports/csv'
params={'select':'*','limit':-1,'lang':'en','timezone':'UTC' }

response=requests.get(url,params=params)

if response.status_code==200:
    url_content=response.content.decode('utf-8')
    # Renaming the dataset as mediumhouseprice_transfer_period
    mediumhouseprice_transfer_period=pd.read_csv(StringIO(url_content),delimiter=';')
    print(mediumhouseprice_transfer_period.head(10))
else:
    print(f'Request failed with status code {response.status_code}')

   sale_year                   type  median_price  transaction_count
0       2000  Residential Apartment      302500.0               3660
1       2002        House/Townhouse      381500.0                650
2       2002  Residential Apartment      369500.0               4888
3       2007        House/Townhouse      615000.0                778
4       2008  Residential Apartment      422000.0               4860
5       2009        House/Townhouse      585796.5                661
6       2010        House/Townhouse      740000.0                670
7       2010  Residential Apartment      508000.0               8186
8       2011        House/Townhouse      710000.0                531
9       2013        House/Townhouse      737750.0                592

# House Prices by Small Area - Sale Year

In [9]:
smallhouse_sale_price_year.head()

,sale_year,small_area,type,median_price,transaction_count
0,2000,Docklands,Residential Apartment,487300.0,556
1,2000,Parkville,House/Townhouse,516000.0,42
2,2000,Southbank,Residential Apartment,370500.0,901
3,2001,Carlton,House/Townhouse,381000.0,113
4,2001,Melbourne (CBD),House/Townhouse,NaN,4

In [10]:
mediumhouseprice_transfer_period.head()

   sale_year                   type  median_price  transaction_count
0       2000  Residential Apartment      302500.0               3660
1       2002        House/Townhouse      381500.0                650
2       2002  Residential Apartment      369500.0               4888
3       2007        House/Townhouse      615000.0                778
4       2008  Residential Apartment      422000.0               4860

In [11]:
housetype_medianprice_sale_year.head()

   sale_year                   type  median_price  transaction_count
0       2000  Residential Apartment      302500.0               3660
1       2002        House/Townhouse      381500.0                650
2       2002  Residential Apartment      369500.0               4888
3       2007        House/Townhouse      615000.0                778
4       2008  Residential Apartment      422000.0               4860

In [14]:
mediumhouseprice_transfer_period.shape

(34, 4)

In [15]:
housetype_medianprice_sale_year.shape

(34, 4)

In [16]:
smallhouse_sale_price_year.shape

(347, 5)